.dockerdata
docker-compose.ollama.yaml
Dockerfile
Dockerfile-cuda128
install_audiowaveform.sh
samples
scriberr_files
scriberr
install_aw.sh
.prettier*
venv
node_modules
*.env
.venv
.aider.*