node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
# .env
# .env.*
# !.env.example
# !.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.dockerdata
.aider*
.env
.env
samples
scriberr
data
data/scriberr.db
data/transcripts
data/uploads
data/whisperx-env/test
data_bak
web/landing_bak
CLAUDE.md
AGENTS.md
# .env.example
scriberr-data
whisperx-env

# internal/web
env-data
# main
results.json
# server
!cmd/server/main.go
test_word_conversion.go
debug_whisperx_parsing.go
debug_parsing.go
scriberr-optimized
tests/database_test.db-shm

# Project documentation (local only)
project-docs
!internal/web/static.go
feats.txt
log.txt
manifest_and_icons
manifest_and_icons.zip
tests/database_test.db-wal
internal/web/dist


# Development files
prompt.txt
# .agent/
agent-bak/
tmp/
# *.svg
# *.png
dhl.txt
__pycache__/
