node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.dockerdata
.aider*
.env
.env
scriberr-backend/cmd
scriberr-backend/storage
scriberr-backend/__pycache__
scriberr-backend/test-storage

# Go build logs
.build-errors.log
tmp

# Application data
scriberr.db