# This can be added when running the main docker-compose.yml file to add gpu support
# add this in your command line: docker-compose -f docker-compose.yml -f docker-compose.gpu.yml up
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile-gpu
    # You can find your architecture by running: nvidia-smi if on linux
    # You can find your architecture by running: system_profiler SPDisplaysDataType if on mac
    # You can find your architecture by running: wmic path win32_videocontroller get name if on windows
    # You will need to change the image to match your architecture, E.G. "main-cuda-11"
    image: ghcr.io/rishikanthc/scriberr:main-gpu
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]